body {
  font-family: "Inter", Arial, sans-serif;
  background: #000000;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.case-btn:focus {
  outline: 2px solid #00efff;
}

::-webkit-scrollbar {
  width: 8px;
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #00efff;
  border-radius: 4px;
}
